# System files
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/AppData/
/Contacts/
/Desktop/
/Downloads/
/Favorites/
/Music/
/OneDrive/
/Pictures/
/Saved Games/
/Searches/
*.dat
*.ini
*.blf
*.regtrans-ms